.App {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.App-header {
  background-color: #96a2b9;
  min-height: 100vh;
  min-width: 160vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(58, 56, 56);
}

.container-avatar {
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color:rgb(58, 56, 56);
  }



